header(class="bg-background text-secondary fixed top-0 left-0 w-full z-50 border-b-2")
  nav(class="flex items-center justify-between px-6 py-3 h-20")
    //- Logo and Title
    .flex.flex-row.items-center
      img(src='/images/icons/crypto-logo-coin.png' alt='Crypto Logo' class='object-cover w-14 h-14 rounded-full')
      a(href="/overview" class="text-2xl font-bold ml-2") Crypto Market Tracker

    //- Menu button that only appears on small screens
    button(
      id="menu-button"
      class="md:hidden flex items-center bg-background-secondary px-3 py-2 rounded text-primary"
    )
      i(class="fa-solid fa-bars")

    //- The nav items that are shown/hidden on mobile
    ul(id="nav-menu"    class="absolute top-20 right-0  w-96 items-center transform translate-x-full opacity-0 pointer-events-none md:opacity-100 md:pointer-events-auto  transition-all duration-300 ease-in-out z-50 flex flex-col md:flex-row md:static md:w-fit md:space-x-4 md:translate-x-0 p-4 md:p-0 rounded-lg md:rounded-none shadow-md md:shadow-none")


      li
        a(href="/overview" class="hover:text-secondary-text-color") Home
      li
        a(href="/fearGreed" class="hover:text-secondary-text-color") Fear & Greed

      if user
        li
          a(href=`/portfolio/${user.id}` class="hover:text-secondary-text-color") Portfolio
        li
          a(href="/profile" class="hover:text-secondary-text-color")
            img(src=`/images/user/${user.photo}` alt='Coin 1' class='object-cover w-10 h-10 rounded-full')
      else
        li
          a(href="/signIn" class="hover:text-secondary-text-color") Login

        li
          a(href="/signUp" class="hover:text-secondary-text-color") sign up