header(class="bg-background text-secondary fixed top-0 left-0 w-full z-50 border-b-2")
  nav(class="flex items-center justify-between px-6 py-3 h-20")
    //- Logo and Title
    .flex.flex-row.items-center
      img(src='/images/icons/crypto-logo-coin.png' alt='Crypto Logo' class='object-cover w-14 h-14 rounded-full')
      a(href="/overview" class="text-2xl font-bold ml-2") Crypto Market Tracker

    //- Menu button that only appears on small screens
    button(
      id="menu-button"
      class="md:hidden flex items-center text-primary-text-color bg-background-third px-3 py-2 rounded text-primary"
    )
      i(class="fa-solid fa-bars")

    //- The nav items that are shown/hidden on mobile
    ul(id="nav-menu"    class="absolute top-20 right-0 bg-background  w-96 items-center transform translate-x-full opacity-0 pointer-events-none md:opacity-100 md:pointer-events-auto  transition-all duration-300 ease-in-out z-50 flex flex-col md:flex-row md:static md:w-fit md:space-x-4 md:translate-x-0 p-4 md:p-0 rounded-lg md:rounded-none shadow-md md:shadow-none")


      li
        a(href="/overview" class="hover:text-secondary-text-color") Home
      li
        a(href="/fearGreed" class="hover:text-secondary-text-color") Fear & Greed

      if user
        li
          a(href=`/portfolio/${user.id}` class="hover:text-secondary-text-color") Portfolio
        li
          a(href="/profile" class="hover:text-secondary-text-color")
            img(src=`/images/user/${user.photo}` alt='Coin 1' class='object-cover w-10 h-10 rounded-full')
      else
        li
          a(href="/signIn" class="hover:text-secondary-text-color") Login

        li
          a(href="/signUp" class="hover:text-secondary-text-color") sign up

      li
        button(id="theme-toggle" aria-label="Toggle theme" class="p-2 rounded focus:outline-none")

          svg(id="icon-sun" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-star-color")
            path(stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z")


          svg(id="icon-moon" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="currentColor")
            path(d="M21.752 15.002A9 9 0 1 1 12.998 2.248a7.001 7.001 0 0 0 8.754 12.754z")


