header(class="bg-white text-black fixed top-0 left-0 w-full z-50 border-b-2")
  nav(class="flex items-center justify-between px-6 py-3 h-20")
    //- Logo and Title
    .flex.flex-row.items-center
      img(src='/images/icons/crypto-logo-coin.png' alt='Crypto Logo' class='object-cover w-14 h-14 rounded-full')
      a(href="/overview" class="text-2xl font-bold ml-2") Crypto Market Tracker

    //- Menu button that only appears on small screens
    button(
      id="menu-button"
      class="md:hidden flex items-center bg-gray-700 px-3 py-2 rounded text-gray-300 hover:text-white hover:bg-gray-600"
    )
      i(class="fa-solid fa-bars")

    //- The nav items that are shown/hidden on mobile
    ul(id="nav-menu"  class="absolute top-20 right-0 bg-white w-96 items-center transition-all duration-300 ease-in-out z-50 flex flex-col  md:flex-row md:static md:w-fit md:space-x-6 hidden md:flex p-4 md:p-0 rounded-lg  md:rounded-none shadow-md md:shadow-none")
      li
        a(href="/overview" class="hover:text-gray-300") Home
      li
        a(href="/fearGreed" class="hover:text-gray-300") Fear & Greed
      li
        a(href="#services" class="hover:text-gray-300") Services
      li
        a(href="#contact" class="hover:text-gray-300") Contact
