@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --section-rotate: 9vw;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
}

.light {
  /* Primary Colors */
  --primary: 255, 255, 255; /* white */
  --secondary: 0, 0, 0; /* black */

  /* Text Colors */
  --primary-text-color: 0, 0, 0; /* black */
  --primary-text-colorS: 255, 255, 255; /* white */
  --secondary-text-color: 156, 163, 175; /* soft-gray */
  --third-text-color: 229, 231, 235; /* light-gray */
  --fourth-text-color: 59, 130, 246; /* blue */

  /* Accent Colors */
  --star-color: 234, 179, 8; /* yellow */

  /* Hover Colors */
  --hover-background-color: 243, 244, 246; /* soft-gray for backgrounds */
  --hover-text-color: 59, 130, 246; /* Blue for buttons or text */

  /* Borders and Dividers */
  --divider-color: 229, 231, 235; /* light-gray border color */

  /* Opacity */
  --tw-divide-opacity: 1;

  /* Background Color */
  --background: 255, 255, 255; /* white */
  --background-secondary: 75, 85, 99; /* dark-gray*/
  --background-third: 229, 231, 235; /* light-gray*/
  --background-fourth: 243, 244, 246; /* soft-gray*/
  --background-fifth: 220, 38, 38; /* red*/
  --background-sixth: 0, 0, 0, 0.6; /* black*/
  --background-seventh: 37, 99, 235; /* blue */
  --background-eighth: 78, 0, 155;
  --background-ninety: 52, 0, 103;

  background: rgba(var(--background));
}

.dark {
  /* Primary Colors */
  --primary: 0, 0, 0; /* black */
  --secondary: 255, 255, 255; /* white */

  /* Text Colors */
  --primary-text-color: 255, 255, 255; /* white */
  --primary-text-colorS: 255, 255, 255; /* black */
  --secondary-text-color: 156, 163, 175; /* soft-gray */
  --third-text-color: 75, 85, 99; /* dark-gray */
  --fourth-text-color: 147, 197, 253; /* lighter blue */

  /* Accent Colors */
  --star-color: 234, 179, 8; /* yellow */

  /* Hover Colors */
  --hover-background-color: 55, 65, 81; /* darker gray for backgrounds */
  --hover-text-color: 147, 197, 253; /* lighter blue for buttons or text */

  /* Borders and Dividers */
  --divider-color: 55, 65, 81; /* dark-gray border color */

  /* Opacity */
  --tw-divide-opacity: 1;

  /* Background Color */
  --background: 24, 24, 27; /* dark-gray */
  --background-secondary: 39, 39, 42; /* slightly lighter gray */
  --background-third: 75, 85, 99; /* dark-gray */
  --background-fourth: 0, 0, 0; /* darker gray */
  --background-fifth: 220, 38, 38; /* red */
  --background-sixth: 255, 255, 255, 0.6; /* white with opacity */
  --background-seventh: 37, 99, 235; /* blue */
  --background-eighth: 78, 0, 155;
  --background-ninety: 52, 0, 103;

  background: rgba(var(--background));
}

/* Adds a smoother transition when changing the theme */
.light,
.dark {
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

.gradient-bg {
  --color-gradient-first: 59, 130, 246, 1; /* Tailwind Blue 500 */
  --color-gradient-second: 168, 85, 247, 1; /* Tailwind purple-400 */
  background-image: linear-gradient(
    to right,
    rgba(var(--color-gradient-first)),
    rgba(var(--color-gradient-second))
  );
}

/* Handle change value ( green or red) */

.text-red-important {
  color: rgb(239, 68, 68) !important; /* Red */
}

.text-green-important {
  color: rgb(34, 197, 94) !important; /* Green */
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #777;
  height: 100vh;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
}

.container {
  width: 100%;
}

.dropdownOptions.show {
  display: flex;
}

.downloadsDropDownOptions.show {
  display: flex;
}

.chartContainer {
  width: 100% !important;
  height: auto !important; /* Allow the canvas to size naturally */
  max-height: 400px;
}

.sort-icon::before {
  display: inline-block;
  vertical-align: middle;
}

.speedometer-svg {
  width: 200px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

.asideNavigation,
.mainOverview,
.mainProfile {
  top: calc(3rem + 1rem);
}

#needle {
  transition: transform 0.5s ease-in-out;
}

.icon::before,
.fa-solid.fa-caret-up::before,
.fa-solid.fa-caret-down::before {
  display: inline-block;
  vertical-align: middle;
}

.coinMessage {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.descriptionContainer a {
  color: #1d4ed8;
}

.descriptionContainer a:hover {
  color: #1e40af;
}

@media (min-width: 768px) {
  .mainSection {
    width: calc(100vw - 272px) !important;
  }
}

.alert {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  border-radius: 8px;
  padding: 1.6rem 4rem;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 6px 20px rgba(0, 0, 0, 0.19);
  background: linear-gradient(135deg, #28a745, #218838);
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease;
}
.alert--success {
  background: linear-gradient(135deg, #28a745, #218838);
}
.alert--error {
  background: linear-gradient(135deg, #dc3545, #c82333);
}

.error {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;
}
.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}
.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}
