:root {
  --section-rotate: 9vw;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  max-width: 1300px;
  width: 100%;
}

.dropdownOptions.show {
  display: flex;
}

.chartContainer {
  width: 100% !important;
  height: 100% !important;
}

.sort-icon::before {
  display: inline-block;
  vertical-align: middle;
}
